@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* background: #111; */
  /* background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupSection {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, .5);
  padding-bottom: 20px;
}

.info h2 {
  padding-top: 30px;
  /* font-weight: 300; */
}
.info p {
  font-size: 14px;
}

.signupForm {
  width: 100%;
  height: 100%;
  background: #0000008a;
  transition: .2s;
}

.signupForm h2 {
  font-weight: 300;
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

.joinBtn {
  border: 1px solid #0ab4b4;
  background: #14141499;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

.joinBtn:hover {
  background: #141414cc;
  padding: 10px 80px;
}

footer {
  margin-top: 10px;
  color: #FFF;
  font-size: 14px;
}

.footerLink {
  color: #FFF;
  font-size: 14px;
  margin-left: 2px;
}

.footerLink:visited {

}

.footerLink:hover {

}

/* .footerLink:active {

} */
