body{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(124,10,180,1) 86%, rgba(10,180,180,1) 100%);
}

div[role=alert] {
  color: red;
}

span {
  color: white;
  margin: 5px;
  font-size: 1.0em;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Squada One', cursive;
  margin-left: 10px;
  color: white;
}

h2 {
  margin: 5px;
  font-family: 'Squada One', cursive;
  font-size: 2.8em;
}

h4 {
  margin: 5px;
  font-size: 1.2em;
}

p {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.language-header-text {
  color: #0ab4b4;
  font-family: 'Squada One', cursive;
  font-size: 2em;
}

.correctCount {
  color: green;
}

.incorrectCount {
  color: red;
}

.word-card-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0ab4b4;
  margin: 5px;
  padding: 0px;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, .5);

  }

  footer {
    margin: 5px;
  }

  .learn-word {
    color: white;
    font-size: 3em;
  }

  .learn-total-score {
    font-size: 1.5em;
    margin-top: 30px;
  }

  .learn-count {
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
  }

  section.learn {
    background-color: #0ab4b4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ul.word-card-wrapper {
    margin: 0;
    padding: 0;
  }

@media screen and (min-width: 1200px) {

  .dash {
    display: flex;
    flex-direction: column;
  }

  .word-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  /* background: rgba(20, 40, 40, .8); */
  margin: 20px;
  
  }

  .word-card-wrapper{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .count {
    display: flex;
    flex-direction: row;
  }

  span {
    padding: 0 20px;
  }
  
}