div[role=alert] {
  color: red;
}

span {
  color: white;
  margin: 10px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.language-header-text {
  color: rgba(10, 180, 180, 1);
  font-family: 'Squada One', cursive;
  font-size: 2em;

}

.word-card{

}

.word-card-wrapper{

}

@media screen and (min-width: 1200px) {

  .word-card{
    width: 20%;
    
  }
  
  .word-card-wrapper{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
}