

body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    #020024 0%,
    #7c0ab4 86%,
    #0ab4b4 100%
  );
}

div[role="alert"] {
  color: red;
}

span {
  color: white;
  margin: 5px;
  font-size: 1em;
}

a {
  text-decoration: none;
  font-family: "Squada One", cursive;
  margin-left: 10px;
  color: white;
}

h2 {
  margin: 5px;
  font-family: "Squada One", cursive;
  font-size: 2.8em;
}

h4 {
  margin: 5px;
  font-size: 1.2em;
}

.word-dash {
  color: white;
  font-family: "Squada One", cursive;
  font-size: 4em;
}

.translation-dash {
  color: #7c0ab4;
  font-size: 2em;
  margin: 0;
  margin-bottom: 20px;
}

.score {
  font-size: 0.9em;
}

.score-box {
  display: flex;
}

.score-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.words-practice {
  color: white;
}

.learn-start {
  color: #0ab4b4;
  font-size: 2em;
}

.learn-start:hover {
  color: #ffffff;
  font-size: 2em;
}

span.learn-word {
  color: #7c0ab4;
  font-size: 2.5em;
  margin: 0;
}

p {
  color: white;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 5px;
}

.language-header-text {
  color: #0ab4b4;
  font-family: "Squada One", cursive;
  font-size: 2em;
}

.correctCount {
  color: green;
}

.incorrectCount {
  color: red;
}

.word-card-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0ab4b4;
  margin: 5px;
  padding: 10px;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

footer {
  margin: 5px;
}

.learn-word {
  color: white;
  font-size: 3em;
  margin: 0;
}

.learn-total-score {
  font-size: 1.5em;
  margin-top: 5px;
}

.learn-count {
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

label {
  margin-top: 5px;
  
}



.feedback {
  font-size: 1.2em;
}

.long-feedback {
  color: #7c0ab4;
  font-size: 1.1em;
}

section.learn {
  background-color: #0ab4b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul.word-card-wrapper {
  margin: 0;
  padding: 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button{
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #0ab4b4;
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
  
}

button:hover {
  background: rgba(20, 20, 20, 0.918);
  padding: 10px 80px;
}


@media screen and (min-width: 1200px) {
  .dash {
    display: flex;
    flex-direction: column;
  }

  .word-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    /* background: rgba(20, 40, 40, .8); */
    margin: 20px;
  }

  .word-card-wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .count {
    display: flex;
    flex-direction: row;
  }

  span {
    padding: 0 20px;
  }
}
