header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  background-color: black;
  font-family: 'Squada One', cursive;

}

header>h1 {
  flex: 1;
  font-size: 1.2em;
  font-family: 'Squada One', cursive;

}

.headerLink {
  color: #0ab4b4;
  text-decoration: none;
  font-family: 'Squada One', cursive;

}

.loginLink {
  color: #0ab4b4;
  text-decoration: none;
  font-family: 'Squada One', cursive;
}

.loginLinkActive {
  color: #0ab4b4;
  text-decoration: underline;
  font-family: 'Squada One', cursive;
}

span.logged-in, a {
  font-size: 1.2em;
  font-family: 'Squada One', cursive;
}

@media screen and (min-width: 1200px) {

  header h1 {
    flex: 1;
    font-size: 1.8em;
  }

  span.logged-in, a {
    font-size: 1.5em;
    font-family: 'Squada One', cursive;
  }
  
}