header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

header h1 {
  flex: 1;
  font-size: 20px;
  font-family: 'Squada One', cursive;

}

a.headerLink {
  font-family: 'Squada One', cursive;
  font-size: 1.5em;

}


.headerLink {
  color: rgba(10, 180, 180, 1);
  text-decoration: none;

}

.loginLink {
  color: rgba(10, 180, 180, 1);
  text-decoration: none;
  font-family: 'Khand', sans-serif;
}

.loginLinkActive {
  color: rgba(10, 180, 180, 1);
  text-decoration: underline;
  font-family: 'Khand', sans-serif;
}